<img src="bookmyshow-logo-vector.svg" alt="image"/>
<div>
</div>
<PaperTabs @stretch={{stretch}} @borderBottom={{borderBottom}} @selected={{selectedBasicTab}} @onChange={{action (mut selectedBasicTab)}} as |tabs|>
  <tabs.tab @value='movies' @isSelected=true>
    Movies
  </tabs.tab>
  <tabs.tab @value='plays'>
    Plays
  </tabs.tab>
  <tabs.tab @value='events'>
    Events
  </tabs.tab>
  <tabs.tab @value='sports'>
    Sports
  </tabs.tab>
  <tabs.tab @value='activities'>
    Activities
  </tabs.tab>
</PaperTabs>

{{movies-display tabName=selectedBasicTab}}
